<h3>Компоненты</h3>
<nav>
    <a routerLink="/style" routerLinkActive="active">style</a>
    <a routerLink="/input" routerLinkActive="active">input</a>
    <a routerLink="/output" routerLinkActive="active">output</a>
    <a routerLink="/componentProps" routerLinkActive="active">componentProps</a>
    <a routerLink="/projection" routerLinkActive="active">projection</a>
    <a routerLink="/directives" routerLinkActive="active">directives</a>
    <a routerLink="/dependensi" routerLinkActive="active">dependensi</a>
    <a routerLink="/try" routerLinkActive="active">try</a>
</nav>

<div>
    <router-outlet></router-outlet>
</div>